 .u-section-1 {
  background-image: none;
  min-height: 744px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 918px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 500px;
  height: 619px;
  margin: 22px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  background-image: none;
  min-height: 918px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 413px;
  height: 620px;
  margin: 21px auto 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 885px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 885px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 885px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 755px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 580px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 753px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1336px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 681px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 581px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 14px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1000px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 2px;
    margin-bottom: -7px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 465px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 421px;
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 510px;
    margin-top: 0;
  }
}