 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 580px;
}

.u-section-1 .u-image-1 {
  width: 391px;
  height: 501px;
  margin: 40px auto 40px 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-bottom: 46px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-1 .u-image-1 {
    height: 436px;
    margin-top: 39px;
    margin-bottom: 48px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}