 .u-section-1 {
  background-image: none;
  min-height: 685px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 685px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-image-1 {
  width: 352px;
  height: 449px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: -449px 42px 0 382px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 9px 42px 0 382px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: 9px 42px 0 382px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 9px 42px 0 382px;
}

.u-section-1 .u-btn-4 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  margin: 9px 42px 0 382px;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-text-7 {
  margin: 9px 42px 0 382px;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 9px 42px 0 382px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 35px 42px 0 382px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: -4px 42px 0 382px;
}

.u-section-1 .u-btn-7 {
  padding: 0;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: -4px 41px 0 383px;
}

.u-section-1 .u-text-12 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 12px 42px 0 382px;
}

.u-section-1 .u-btn-8 {
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 685px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-image-2 {
  width: 431px;
  height: 557px;
  margin: 0 auto;
}

.u-section-1 .u-text-13 {
  margin: 10px auto 0;
}

.u-section-1 .u-btn-9 {
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 462px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 481px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 434px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 254px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 254px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 254px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 254px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 254px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 254px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 254px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 254px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 254px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 254px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 254px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 481px;
  }

  .u-section-1 .u-image-2 {
    width: 400px;
    height: 517px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 434px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 383px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 214px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 214px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 214px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 214px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 214px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 214px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 214px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 214px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 214px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 214px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 214px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 409px;
  }

  .u-section-1 .u-image-2 {
    width: 360px;
    height: 465px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 661px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1025px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    width: 406px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    width: 406px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    width: 406px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    width: 406px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    width: 406px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-8 {
    width: 406px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-9 {
    width: 406px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-10 {
    width: 406px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-11 {
    width: 406px;
    margin-top: -8px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-12 {
    font-size: 1rem;
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 614px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 520px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1011px;
  }

  .u-section-1 .u-text-3 {
    width: 320px;
  }

  .u-section-1 .u-text-4 {
    width: 320px;
  }

  .u-section-1 .u-text-5 {
    width: 320px;
  }

  .u-section-1 .u-text-6 {
    width: 320px;
  }

  .u-section-1 .u-text-7 {
    width: 320px;
  }

  .u-section-1 .u-text-8 {
    width: 320px;
  }

  .u-section-1 .u-text-9 {
    width: 320px;
  }

  .u-section-1 .u-text-10 {
    width: 320px;
    margin-top: -3px;
  }

  .u-section-1 .u-text-11 {
    width: 320px;
    margin-top: -5px;
  }

  .u-section-1 .u-text-12 {
    font-weight: 700;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 387px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 439px;
  }
}